@font-face {
  font-family: Gotham;
  src: url("../fonts/gotham"); }

body {
  font-family: Gotham, sans-serif;
  color: white;
}

.backgroundForm {
  background: linear-gradient(#070000, darkred, #070000);
  opacity: 0.9;
  height: 100vh;
  font-weight: 300;
}

input {
  background-color: white;
  opacity: 0.8;
}

form {
  margin-bottom: 0;
}

.choose {
  padding-left: 10%;
}

.choose-title {
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 5rem;
}

.choose ul {
  margin-bottom: 0;
}

.choose-price {
  padding-left: 10%;
}

.choose-price p {
  width: 60%;
  margin-bottom: 0;
}

.form-title {
  text-align: center;
  margin-bottom: 1rem;
}

.formInfo input {
  width: 60%;
}

.flex {
  display: flex;
}

.type {
  margin-top: 6vh;
}

.type input {
  margin-top: 35px;
}

.card {
  margin-left: 2rem;
}

.form-send {
  margin: 5vh auto;
}


.form-send input {
  color: red;
  opacity: 1;
  width: 250px;
  border: none;
  font-size: 2.2rem;
  margin-bottom: 0;
}

.form-send input:hover {
  background-color: darkred;
  color: white;
  border: none;
}

.visa-logo {
  height: 80px;
  margin-left: 5px;

}

.mc-logo {
  margin-left: 5px;
  height: 80px;
}

.mc-check {
  margin-left: 20px;
}

.button-back {
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  margin-top: 5vh;
  position: relative;
}

.button-back p {
  color: white;
  display: inline-block;
  text-decoration: underline;
  font-size: 2rem;
  margin-left: 50px;
  margin-bottom: 0;
}

.back-arrow {
  margin-top: 5px;
  margin-left: 10px;
  position: absolute;
  width: 25px;
}

.days{
  font-size: 3rem;
  margin-top: 3rem;
}
