@font-face {
  font-family: Gotham;
  src: url("../fonts/gotham"); }

body {
  font-family: Gotham, sans-serif;
  color: white;
}

.backgroundForm {
  background-image: url('../img/wallpaper.jpg');
  background-size: cover;
  opacity: 0.9;
  height: 100vh;
}

input {
  background-color: white;
  opacity: 0.8;
}

.choose-title {
  text-align: center;
}

.form-title {
  text-align: center;
}

.choose-price p {
  width: 60%;
}

.formInfo input {
  width: 80%;
}

.flex {
  display: flex;
}

.type input {
  margin-top: 35px;
}

.card {
  margin-left: 2rem;
}

.form-send {
  width: 100px;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  margin-left: 30%;
}


.form-send input {
  color: red;
  opacity: 1;
  border: none;
}

.form-send input:hover {
  background-color: darkred;
  color: white;
  border: none;
}

.visa-logo {
  height: 80px;
  margin-left: 5px;

}

.mc-logo {
  margin-left: 5px;
  height: 80px;
}

.mc-check {
  margin-left: 20px;
}

.button-back {
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
}

.button-back a {
  color: white;
  font-size: 2rem;
  text-decoration: underline;
}
