@font-face {
  font-family: Gotham;
  src: url("../fonts/gotham"); }
body {
  font-family: Gotham, sans-serif;
  background-color: black;
  overflow-x: hidden; }

.introduction {
  width: 100%;
  height: 100vh;
  background: url("../img/david-menidrey-389997-unsplash.jpg"); }

.background {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.9;
  z-index: 1000; }
  .background .header {
    width: 100%; }
    .background .header-menu {
      float: right;
      margin-right: 3rem; }
    .background .header-menuItem {
      color: white;
      list-style: none;
      display: inline-block;
      margin-left: 2rem;
      font-size: 2rem;
      font-weight: 300;
      margin-top: 3rem; }
      .background .header-menuItem a {
        text-decoration: none;
        color: white;
        transition: color 0.2s ease; }
      .background .header-menuItem a:hover {
        color: darkred; }
  .background .name-container {
    width: 60%;
    height: 50vh;
    text-align: center;
    color: white;
    transform: translateY(50%);
    position: absolute;
    left: 20%; }
    .background .name-container .name-title {
      text-transform: uppercase;
      color: white;
      font-size: 8rem;
      font-weight: 300;
      margin-bottom: 5rem; }
    .background .name-container .name-paragraph {
      font-weight: 300;
      line-height: 3.5rem;
      font-size: 2rem; }
    .background .name-container .button-configuration {
      width: 250px;
      background-color: white;
      border-radius: 10px;
      color: red;
      margin: 100px auto;
      padding: 10px;
      font-size: 2.5rem;
      font-weight: 300;
      cursor: pointer;
      transition: color 0.1s ease; }
    .background .name-container .button-configuration:hover {
      background-color: #4C0001;
      color: white; }
    .background .name-container .arrow {
      width: 80px;
      margin: 30vh auto;
      animation: arrow 3s ease-in-out infinite; }
      .background .name-container .arrow img {
        width: 100%; }

@keyframes arrow {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(20px);
    opacity: 0.5; }
  100% {
    transform: translateY(0); } }
.concept {
  width: 100%;
  height: 100vh;
  font-weight: 300;
  color: white;
  margin-top: 10vh;
  background: linear-gradient(#070000, #4C0001, #070000); }
  .concept-title {
    font-size: 8rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 400; }
  .concept-text {
    color: white;
    font-size: 2rem;
    line-height: 4rem;
    margin-top: 30vh; }
  .concept-image {
    width: 100%;
    height: 80vh; }
    .concept-image img {
      width: 100%; }

.configuration {
  width: 100%;
  height: 100vh;
  margin-top: 10vh; }
  .configuration-infos {
    color: white; }
  .configuration-label {
    font-weight: 400;
    font-size: 2rem; }
  .configuration-price {
    font-size: 4rem;
    margin-bottom: 3rem; }
  .configuration h3 {
    font-size: 3rem; }
  .configuration-item {
    list-style: none;
    font-weight: 300;
    font-size: 2rem; }
  .configuration-components {
    margin-top: 5vh; }
  .configuration-button {
    width: 200px;
    padding: 10px;
    color: white;
    background-color: darkred;
    border-radius: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 2.5rem;
    margin-top: 10vh;
    cursor: pointer;
    transition: color 0.2s ease; }
    .configuration-button a {
      text-decoration: none;
      color: white; }
  .configuration-button:hover {
    background-color: white;
    color: #4C0001; }
    .configuration-button:hover a {
      color: #4C0001; }

.game-container {
  width: 100%;
  height: 80vh; }

.footer {
  width: 100%;
  background-color: #4C0001;
  padding: 2rem; }
  .footer .back-to-top {
    text-align: center;
    margin: 50px auto;
    cursor: pointer; }
    .footer .back-to-top p {
      color: white; }
    .footer .back-to-top img {
      transform: rotate(180deg);
      width: 40px; }
  .footer h4 {
    color: white; }
  .footer .footer-item p {
    display: inline-block;
    color: white;
    margin-left: 2rem;
    font-weight: 300;
    vertical-align: middle; }
  .footer .footer-item img {
    margin-top: 2rem; }
  .footer .footer-icon {
    display: inline-block;
    width: 40px;
    margin-right: 50px;
    margin-top: 50px;
    cursor: pointer; }
    .footer .footer-icon img {
      width: 100%; }
  .footer .copyright {
    margin: 0 auto;
    color: white;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
